# OPTICS (Ordering Points To Identify Clustering Structure)

In [29]:
from sklearn.cluster import OPTICS
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from joblib import dump

from matplotlib.markers import MarkerStyle
from matplotlib.patches import Circle
from sklearn.metrics import (
    calinski_harabasz_score,
    silhouette_score,
    davies_bouldin_score,
)

In [30]:
df = pd.read_csv("../../../Datasets/ClusterPoints.csv")
df.head()

    X   Y
0  33  43
1  48  10
2  15  32
3  41  16
4  47  11

In [31]:
optics = OPTICS()
optics.fit_predict(df)

array([ 0,  5,  6, -1,  5,  6, -1,  0, -1, -1,  2,  6,  6, -1,  2,  0,  0,
       -1, -1,  4,  1, -1, -1, -1,  5,  3, -1, -1,  7,  6,  2,  5, -1,  2,
       -1,  4,  2, -1,  3, -1,  6,  4, -1, -1,  7,  1, -1,  6,  3,  4,  1,
        6,  5,  6,  5, -1,  7,  4, -1,  1, -1,  4, -1,  2,  0,  5, -1, -1,
       -1, -1, -1,  7,  3,  5, -1, -1, -1,  3,  6,  6, -1,  5, -1, -1,  4,
        7, -1, -1,  1, -1, -1, -1,  3,  6,  1, -1, -1,  5,  0,  7])